{
  "extends": [
    "standard",
    "prettier",
    "prettier/standard",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "plugins": [
  ],
  "env": {
    browser: true
  },
  "rules": {
    "no-console": 1,
    "react/prop-types": 0
  },
  "overrides": [
    {
      "files": ["./next.config.js"],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
