{
  "extends": [
    "standard",
    "prettier",
    "prettier/standard",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "plugins": [
    "react-hooks"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": 1,
    "react/prop-types": 0,
    "no-unused-vars": 1,
    "prefer-const": 1,
    "react-hooks/exhaustive-deps": "warn"
  },
  "overrides": [
    {
      "files": ["./next.config.js"],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
